Flask==2.3.4
Flask-Login==0.7.0
Flask-WTF==1.1.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
Flask-Talisman==1.0.0
Flask-Limiter==2.9.0
SQLAlchemy==2.0.19
alembic==1.11.1
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
gunicorn==22.0.0
